.ss-account-hero {
  position: relative;
  padding-top: calc(3rem + 52px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(#004357, 0.65);
}