.ss-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  @include transition(all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1));

  &.is-scrolled {
    background-color: rgba(#004357, 0.8);
  }

  .navbar-start {
    margin-left: auto;
    margin-right: 0;
  }

  .navbar-item,
  .navbar-link {
    color: #ffffff;

    &.is-hoverable {
      &:focus-within {
        .navbar-dropdown {
          display: none;
        }
      }
      &:hover:focus-within {
        .navbar-dropdown {
          display: block;
        }
      }
    }

    &:hover,
    &:focus
    &.has-dropdown:focus,
    &.nuxt-link-exact-active {
      background-color: transparent;
      color: $brand-primary;

      .navbar-link {
        background-color: transparent;
        color: $brand-primary;
      }
    }

    :after {
      display: none;
    }

    .multiselect__select:before {
      color: rgba(#ffffff, 0.5);
      border-color: rgba(#ffffff, 0.5) transparent transparent;
    }

    .multiselect__tags {
      padding-top: 0;
      display: flex;
      align-items: center;
      background-color: rgba($brand-default, 0.2);
      border: 0;
      min-width: 250px;

      .multiselect__placeholder {
        padding: 0;
        margin: 0;
        color: rgba(#ffffff, 0.5);
      }

      input {
        margin: 0;
        padding: 0;
        background-color: transparent;
        font-size: 14px;
        color: #ffffff;

        &::placeholder {
          color: rgba(#ffffff, 0.5);
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: rgba(#ffffff, 0.5);
        }
        &::-ms-input-placeholder {
          color: rgba(#ffffff, 0.5);
        }
      }      
    }

    .multiselect__content-wrapper {
      border: none;
      color: $brand-text;
      overflow-x: hidden;

      .multiselect__option {
        white-space: normal;
        line-height: 1.2rem;

        .option__small {
          font-size: 12px;
          color: rgba($brand-text, 0.5);
  
          span {
            text-transform: capitalize;
          }
        }

        &.multiselect__option--highlight {
          background-color: $brand-primary;
        }
      }
    }
  }

  .navbar-link {
    padding-right: 0.75rem;
  }

  .navbar-burger {
    color: #ffffff;
  }

  .navbar-dropdown {
    a.navbar-item:focus,
    a.navbar-item:hover {
      background-color: transparent;
      color: $brand-primary;
    }
  }

  @include below ($desktop-small-size) {
    .navbar-menu {
      background-color: #004357;
    }
  }

  @include above ($desktop-small-size) {
    .navbar-dropdown {
      background-color: #004357;
      border-top: none;
    }

    .navbar-item {
      &.has-dropdown {
        .navbar-link {
          &.nuxt-link-active {
            color: $brand-primary;
          }
        }
      }

      &.has-dropdown:focus {
        .navbar-link {
          background-color: transparent;
          color: $brand-primary;
        }
      }
    }
  }
}