$brand-primary: hsl(45, 100%, 51%) !default;
$brand-secondary: hsl(200, 18%, 46%) !default;
$brand-info: hsl(204, 86%, 53%) !default;
$brand-success: hsl(171, 100%, 41%) !default;
$brand-warning: hsl(48, 100%, 67%) !default;
$brand-danger: hsl(348, 100%, 61%) !default;
$brand-default: hsl(0, 0%, 96%) !default;

$tablet-size: 768px !default;