.circle {
  display: flex !important;
  padding: 4px;
  border-radius: 40px;
  background-color: darken($brand-secondary, 15%);

  .circle-percent-text-body {
    top: 0;
    left: 0;
  }

  .percent-text {
    color: #ffffff;
  }
}